Repository BF-FrontEnd-class/stop-watch-group-3, pull requests merged in 2023-07, with the labels that each got.

#3 add index.html file
  index.html
Labels: index.html

#6 update html and css
  index.html
  styles/style.css
Labels: HTML, css

#8 add data file
  src/data.js
Labels: js

#9 add init
  index.html
  public/time.jpg
  src/init.js
  styles/style.css
Labels: HTML, css, js

#10 update showTime
  src/components/showTime.js
Labels: js
